%ul
	%li= sortable 'created_at', 'Default'
	%li= sortable 'title'
	%li= sortable 'cities.name', 'City'
	%li= sortable 'regions.name', 'Subcontinent'
	%li= sortable 'RANDOM()', 'Shuffle'

#masonry-container.transitions-enabled.infinite-scroll.has-gutters
	-@photos.each do |ph|
		.box
			= link_to photo_path(ph) do
				%h3= ph.title
				=image_tag(ph.image.url(:list), alt: "#{ph.title}")
			.city-region-line
				= link_to city_path(ph.city) do
					%h4= ph.city.name
				= link_to region_path(ph.city.region) do
					%h4= ph.city.region.name
