.block
	%ul.hor-list
		%li= sortable 'created_at', 'Default'
		%li= sortable 'cities.name', 'City'
		%li= sortable 'regions.name', 'Subcontinent'
		%li= sortable 'RANDOM()', 'Shuffle'

.photos-data= @photos.to_json

#masonry-container.transitions-enabled.infinite-scroll.has-gutters
	-@photos.each_with_index do |ph, i|
		- city_name = city_name; region_name = region_name; author = author
		.box
			= link_to city_path(ph.city) do
				%h4= city_name
			=image_tag(ph.image.url, :alt => "photo of #{city_name}", :class => "city-photo", :data => { :index => i, :city => city_name, :region => region_name, :author => author, :file_path = ph.image_file_name})
			= link_to region_path(ph.city.region) do
				%h4= region_name
			.fl-right
				= link_to "Original", ph.source
				%span.note= "by #{author}"
/
	%div(class="pswp" tabindex="-1" role="dialog" aria-hidden="true")
		.pswp__bg
			.pswp__scroll-wrap
				.pswp__container
					.pswp__item
					.pswp__item
					.pswp__item
				.pswp__ui.pswp__ui--hidden
					.pswp__top-bar
						.pswp__counter
						%button(class="pswp__button pswp__button--close" title="Close (Esc)")
						%button(class="pswp__button pswp__button--share" title="Share")
						%button(class="pswp__button pswp__button--fs" title="Toggle fullscreen")
						%button(class="pswp__button pswp__button--zoom" title="Zoom in/out")

						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
					.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
						.pswp__share-tooltip

					%button(class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)")
					%button(class="pswp__button pswp__button--arrow--right" title="Next (arrow right)")

					.pswp__caption
						.pswp__caption__center