=image_tag(@photo.image.url, alt: "#{@photo.title}")
%h3= @photo.title
- if @photo.author
	%span= "by #{@photo.author}"
- if @photo.source
	= link_to "Get original", "#{@photo.source}"

%h4= @photo.city.name
%ul
	%li Founded in __
	%li About __ people live here
	%li __ individuals per sq km
	%li Official website:

.map
	
	

=link_to "Edit", edit_photo_path(@photo)
=link_to "Delete", @photo, data: {confirm: 'Delete?!'}, method: :delete