.block
	=image_tag(@photo.image.url, alt: "#{@photo.title}")
	%h3= @photo.title
	%span= "by #{@photo.author}"
	.city-region-line
		= link_to city_path(@photo.city) do
			%h4= @photo.city.name
		= link_to region_path(@photo.city.region) do
			%h4= @photo.city.region.name
	= link_to "Get original", "#{@photo.source}"

	= render 'cities/city_stat', city: @photo.city
		
		

	=link_to "Edit", edit_photo_path(@photo)
	=link_to "Delete", @photo, data: {confirm: 'Delete?!'}, method: :delete