.block
	- w = City.get_weather(@city.name)
	%span.num-line.vert-al-super{:data =>{:temp => w[0], :city => @city.name, :icon_url => w[1], :descr => w[2]}}= ''
	%h2
		= link_to "⤆", city_path(@city.prev )
		= @city.name
		= link_to "⤇", city_path(@city.next )
		%div
			= link_to "W", "https://en.wikipedia.org/wiki/#{@city.name}", {:target=>"_blank" }
			= link_to "Gmap", "https://www.google.com/maps/place/#{@city.name}", {:target=>"_blank" }
	%span.num-line.vert-al-super{:data =>{:utcoffset => (@city.utcoffset || '0')}} 00:00:00
	= link_to region_path(@city.region), { :class=>"vert-al-top" } do
		%h3= @city.region.name
	/= render 'city_links', city: @city
	/= render 'city_gmap'
.block.with-separator
	%ul.hor-list.inline-subblock
		%li= sortable 'created_at', 'Default'
		%li= sortable 'RANDOM()', 'Shuffle'
	= will_paginate @city_photos, :class => "pagination inline-subblock"

= render 'photos/photos', photos: @city_photos, displayCitiesNames: false, displayRegionsNames: false



/
	#masonry-container.transitions-enabled.infinite-scroll.has-gutters
		- @city_photos.each_with_index do |ph, i|
			.box
				=image_tag(ph.image.url, :alt => "#photo of {@city.name}", :class => "city-photo", :data => { :index => i})
				%span.sm-text.fl-right
					= "by #{ph.author} / "
					= link_to "Source", ph.source