!!!
%html
	%head(lang="en")
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%title BeautifulCities
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Niconne', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		#layout
			%a(href="#menu" id="menuLink" class="menu-link")
				/ Hamburger icon
				%span

			#menu
				.pure-menu
					= link_to "Beautiful Cities", root_path, { :class=>"pure-menu-heading" }

					%ul.pure-menu-list
						%li.pure-menu-item
							= link_to "Cities", cities_path, { :class=>"pure-menu-link" }
						%li.pure-menu-item
							= link_to "Regions", regions_path, { :class=>"pure-menu-link" }
						%li.pure-menu-item
							= link_to "My city", cities_path, { :class=>"pure-menu-link" }
						%li.pure-menu-item.menu-item-divided
							= link_to "New photo", new_photo_path, { :class=>"pure-menu-link" }
						%li.pure-menu-item
							= link_to "New city", new_city_path, { :class=>"pure-menu-link" }
			%main
				= yield